.container-cards {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    gap: 1.5em;
}
@media screen and (max-width: 850px){
.container-cards{
    grid-template-columns: repeat(
        auto-fill,
        minmax(210px, 1fr)
    );
}
}